<div class="wrapper style1">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="flex-box">
          <div class="img-box">
            <% if current_user.photo.url == nil %>
              <img src="http://placehold.it/300" class="avatar-xxl dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
            <% else %>
              <%= image_tag @user.photo.url, class: "avatar-xxl" %>
            <% end %>
          </div>
          <div class="headbox text-center">
            <h2><%= @user.first_name %> <%= @user.last_name %></h2>
            <h4 class="bio">" <%= @user.bio %> "</h4>
            <ul class="list-inline list-unstyled">
              <li>Mail: <%= @user.email %></li>
              <li>Company: <%= @user.company %></li>
            </ul>
            <% if current_user == @user %>
              <div class="text-center"><%= link_to "Edit profile", edit_user_path(current_user), class: "btn" %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
