
<div class="container">
  <div class = "user-participation">
    <div class="title padded-xs">
      <h3> Your next participations in trips </h3>
    </div>
    <% @current_user_expeditions.each do |expedition| %>
    <div class="container-expedition-card">
      <div class="expedition-reservation-card" style="background-color: white">
      <img class="expedition-reservation-card-photo" src="http://i.imgur.com/JvEwkET.jpg">
        <div class="reservation-card_date-header">
          <span><%= expedition.title %></span>
        </div>
          <% if (Participation.find_by expedition_id: expedition.id).accepted %>
            <a href="#" class="label label-success expedition-reservation-card-button">Participant</a>
          <% elsif (Participation.find_by expedition_id: expedition.id).accepted.nil? %>
            <a href="#" class="label label-warning expedition-reservation-card-button">Pending</a>
          <% else  %>
            <a href="#" class="label label-danger expedition-reservation-card-button">Denied</a>
          <% end %>
        <div class="expedition-reservation-card_listing">
          <div class="expedition-reservation-card_listing-header">
            <span><%= expedition.description %></span>
          </div>
          <div class="expedition-reservation-card_departure">
            <span class="expedition-reservation-card_info">
            </span>
            <span class="expedition-reservation-card_meta">
              <span><strong>start date:</strong> <%= expedition.starts_on %></span>
              <span><strong>end date:</strong> <%= expedition.ends_on.to_s %></span>
            </span>
            <img class="expedition-reservation-participant avatar-large" src="<%= current_user.photo.url %>">
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>

  <div class = "user-organization">
    <div class="title padded-xs">
      <h3> The next trips you organize</h3>
    </div>
    <% @current_organizing_expeditions.each do |expedition| %>
    <div class="container-expedition-card">
      <div class="expedition-reservation-card" style="background-color: white">
      <img class="expedition-reservation-card-photo" src="http://i.imgur.com/JvEwkET.jpg">
        <div class="reservation-card_date-header"><span><%= expedition.title %></span></div>
        <div class="expedition-reservation-card_listing">
          <div class="expedition-reservation-card_listing-header">
            <span><%= expedition.description %></span>
          </div>
          <div class="expedition-reservation-card_departure">
            <span class="expedition-reservation-card_info">
            </span>
            <span class="expedition-reservation-card_meta">
              <span><strong>start date:</strong> <%= expedition.starts_on %></span>
              <span><strong>end date:</strong> <%= expedition.ends_on.to_s %></span>
            </span>
            <img class="expedition-reservation-participant avatar-large" src="<%= current_user.photo.url %>">
          </div>
        </div>
      </div>
      <div>
        <h5>My participants for this learning expedition</h5>
        <% expedition.participations.each do |participation| %>
          <% if participation.accepted == nil %>

            <span>Participation name:<%= participation.user.first_name %><%= participation.user.last_name %></span>

            <div class="accept-buttons" id="acceptation<%= participation.id %>">
              <%= button_to accepted_path(id: participation.id),
              :class => "btn btn-sm btn-success", :method => :post, remote: :true do %>
                Accept <span class="fa fa-thumbs-o-up">
                <% end %>

              <%= button_to declined_path(id: participation.id),
              :class => "btn btn-sm btn-s btn-danger", :method => :post, remote: :true do %>
                Decline <span class="fa fa-thumbs-o-down">
                <% end %>
            </div>

          <% else %>
            <% if participation.accepted == true %>
              <a href="#" class="btn btn-success">Participant</a>
            <% elsif participation.accepted == false %>
              <a href="#" class="btn btn-danger">Declined</a>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
