
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://i.imgur.com/M0qx9fN.jpg');">
  <div class="banner-content">
    <h1>Learnings Expeditions</h1>
    <p>All the details you need to choose the learning expedition that’s right for you and apply in one place.</p>

    <div class="flex-center">
      <div class="dropdown">
      <button class="btn btn-danger btn-lg dropdown-toggle" id="btn-header" stype="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Choose your destination
        <span class="caret"></span>
      </button>

        <ul class="dropdown-menu" id="btn-header-dropdown" aria-labelledby="dropdownMenu1">
        <% @destinations.each do |destination| %>
          <li><%= link_to destination.name, destination_path(destination) %></li>
        <% end %>
      </ul>
    </div>
    </div>


  </div>
</div>
<div class="container">
  <% @destinations.each do |destination| %>
    <div class="banner-small" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= destination.picture_url %>');">
      <div class="banner-content">
        <h2><%= destination.name %></h2>
        <%= destination.description %>
        </p>
      </div>
    </div>
      <div class="wrapper-card">
        <div class="row">
        <% destination.expeditions.first(3).each do |exp| %>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= exp.photo%>');">

              <div class="card-category"><h6><span class="label label-success"><%= exp.theme%></span></h6></div>
              <div class="card-title">
                <h3><%= exp.title %></h3>
              </div>
              <div class="card-description">
                <p><%= exp.description[0, 150] %></p>
              </div>
              <img class="card-user avatar" src="http://placehold.it/100/100">
              <%= link_to "", expedition_path(exp), class: "card-link" %>
            </div>
          </div>
          <% end %>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <%= link_to destination_path(destination), class: "card-cta-link" do %>
            <div class="card-cta text-center" style="background-color: #F07E98 !important;">
              <div class="card-cta-description">
                <h3><i class="fa fa-plus" aria-hidden="true"></i>
                </h3>
                <p>More Learning Expeditions</p>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>
