<div class="wrapper text-center">
  <div class="container">
    <h1>Create a new Learning Expedition</h1>
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <%= simple_form_for @expedition do |f| %>
        <%= f.input :name, label: "Expedition Title" %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit "Add expedition", class: "btn btn-success" %>
      <% end %>
      <%= link_to "Cancel", expeditions_path, class: "btn btn-danger" %>
    </div>
  </div>
</div>
