<div class="wrapper">
  <div class="container">

    <h3 class="text-center">Create a new Learning Expedition</h3>

    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for @expedition do |f| %>
        <%= f.input :title, label: "Expedition title" %>
        <%= f.input :description, label: "Expedition description" %>
        <%= f.input :capacity, label: "Expedition capacity" %>
        <%= f.input :theme, label: "Expedition theme" %>
        <%= f.input :starts_on, label: "Start date", id: "datepicker" %>
        <%= f.input :ends_on, label: "End date" %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit "Add expedition", class: "btn btn-success" %>
        <%= link_to "Cancel", expeditions_path, class: "btn btn-danger" %>
      <% end %>
    </div>

  </div>
</div>

<script>
$(function() {
  $( "#datepicker" ).datepicker();
});
</script>
