<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= @expedition.photo.url %>);">
  <div class = "banner-expedition">

    <h1><%= @expedition.title %></h1>
    <p><%= @expedition.description %></p>
    <h2>#<%= @expedition.theme %></h2>
  </div>
</div>

<div class="container">
  <div class="wrapper">
    <div class="row">
      <div class="col-xs-12 col-md-9 ">
<!--         <div class ="organizer">
          <h2>The organizer</h2>
        </div> -->
        <div class = "row place-row">
          <div class="col-md-4">
              <span class ="fa fa-plane"> The destination:
              </span>
          </div>
          <div class="col-md-8">
            <p class ="place-content">
              <span class="mgc"><%= @destination.name %>  - <%= @destination.description%></span>
            </p>
          </div>
        </div>
        <div class = "row place-row">
          <div class="col-md-4">
            <h5>
              <span class ="fa fa-map-marker"> The expedition: <%= @expedition.title %>
              </span>
            </h5>
          </div>
          <div class="col-md-8">
            <p class ="place-content">
              <span class="mgc"><%= @expedition.description %></span>
            </p>
          </div>
        </div>
        <div class = "row place-row">
          <div class="col-md-4">
            <h5>
              <span class ="fa fa-users"> The number of participants:
              </span>
            </h5>
          </div>
          <div class="col-md-8">
            <p class ="place-content">
              <span class="mgc"><%= @expedition.capacity %></span>
            </p>
          </div>
        </div>



      </div>

      <div class="col-xs-12 col-md-3">
        <div class = "participation">
<!-- La participation du user a été validée -->
          <%# if @expedition.users.include?(current_user) && @expedition.participation.accept == true  %>
<!--             <p class= "bg-success">You're signed up!</p>
            <%# link_to "I want to unsubscribe", participation_path(@current_participation), method: :delete, class: "unsubscribe" %>
          <%# else %>  -->

          <!-- Afficher le formulaire s'il reste de la place -->
            <% if @expedition.participations.count < @expedition.capacity && @current_participation.nil? %>
            <div class = "form">
              <%= simple_form_for([@expedition, @participation]) do |f| %>
              <h5> Next expedition will start on: <%= @expedition.starts_on %></h5>
              <h5> Spots left: <%= @expedition.capacity - @expedition.participations.count  %></h5>
              <h5> People who signed up: <%= @expedition.participations.count %></h5>
              <%= f.collection_radio_buttons :is_company, [[true, 'Company'] ,[false, 'Individual']], :first, :last%>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.hidden_field :expedition_id, value: @expedition.id %>
              <%= f.submit "Sign me up!", class: "btnparticipation" %>
              <% end %>
            </div>
            <!-- Fin du formulaire -->
            <!-- Afficher une alerte pour dire que le booking est pending -->
            <!-- Si l'expé est full, le signaler -->
            <% elsif @current_participation %>
              <% if  @current_participation.accepted.nil? %>
                <p class="bg-warning" role="alert"> Thank you! Your application is pending.</p>
                <%= link_to "I want to cancel my application", participation_path(@current_participation), method: :delete, class: "unsubscribe" %>
              <% elsif @current_participation.accepted %>
                <p class= "bg-success">You're signed up!</p>
                <%= link_to "I want to unsubscribe", participation_path(@current_participation), method: :delete, class: "unsubscribe" %>
                <!-- show it's accepted -->
              <% elsif !@current_participation.accepted %>
                <!-- show it's declined -->
              <% end %>
            <% else %>
              <h5> This expedition is full! </h5>
            <% end %>
            <!-- Fin du signalement -->
          <%# end %>
        </div>
      </div>

    </div>
  </div>
</div><!--

  <h2>Send the information</h2>
  <label id="icon" for="name"><i class="icon-envelope "></i></label>
  <input type="text" name="name" id="name" placeholder="Email" required/>

 -->
