<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= @expedition.photo.url %>);">
  <div class = "banner-expedition">

    <h1><%= @expedition.title %></h1>
    <p><%= @expedition.description %></p>
    <h2>#<%= @expedition.theme %></h2>
  </div>
</div>

<div class="container">
  <div class="wrapper">
    <div class="row">
      <div class="col-xs-12 col-md-9 ">
<!--         <div class ="organizer">
          <h2>The organizer</h2>
        </div> -->
        <div class = "row place-row">
          <div class="col-md-4">
            <h5>
              <span class ="glyphicon glyphicon-road"> The destination:
              </span>
            </h5>
          </div>
          <div class="col-md-8">
            <p class ="place-content">
              <span class="mgc"><%= @destination.name %>  - <%= @destination.description%></span>
            </p>
          </div>
        </div>
        <div class = "row place-row">
          <div class="col-md-4">
            <h5>
              <span class ="glyphicon glyphicon-road"> The number of participants:
              </span>
            </h5>
          </div>
          <div class="col-md-8">
            <p class ="place-content">
              <span class="mgc"><%= @expedition.capacity %></span>
            </p>
          </div>
        </div>
        <div class = "row place-row">
          <div class="col-md-4">
            <h5>
              <span class ="glyphicon glyphicon-road"> The destination:
              </span>
            </h5>
          </div>
          <div class="col-md-8">
            <p class ="place-content">
              <span class="mgc"><%= @destination.name %> - <%= @destination.description%></span>
            </p>
          </div>
        </div>
        <div class = "row place-row">
          <div class="col-md-4">
            <h5>
              <span class ="glyphicon glyphicon-road"> The expedition: <%= @expedition.title %>
              </span>
            </h5>
          </div>
          <div class="col-md-8">
            <p class ="place-content">
              <span class="mgc"><%= @expedition.description %></span>
            </p>
          </div>
        </div>


      </div>

      <div class="col-xs-12 col-md-3">
        <div class = "panel">
          <% if @expedition.users.include?(current_user) %>
            <p class="bg-success">You're signed up!</p>
          <% else %>
            <div class = "form">
              <%= simple_form_for([@expedition, @participation]) do |f| %>
              <h5> Next expedition will start on: <%= @expedition.starts_on %></h5>
              <%= f.collection_radio_buttons :is_company, [[true, 'Company'] ,[false, 'Individual']], :first, :last%>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.hidden_field :expedition_id, value: @expedition.id %>
              <%= f.submit "Sign me up!", class: "btn" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div><!--

  <h2>Send the information</h2>
  <label id="icon" for="name"><i class="icon-envelope "></i></label>
  <input type="text" name="name" id="name" placeholder="Email" required/>

 -->
