<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= @expedition.photo.url %>);">
  <div class="boutons">
    <% if current_user.id == @expedition.user_id %>
      <ul class="list-inline list-unstyled">
        <li>
          <%= link_to "Edit expedition", edit_expedition_path(@expedition), class: "btn btn-primary" %>
        </li>
        <li>
          <%= link_to "Cancel expedition", expedition_path(@expedition), method: :delete, class: "btn btn-danger" %>
        </li>
      </ul>
    <% end %>
  </div>
  <div class = "banner-expedition">
    <h1><%= @expedition.title %></h1>
    <h2>#<%= @expedition.theme %></h2>
  </div>
</div>

<div class="container">
  <div class="wrapper padded">
    <div class="row">
      <div class="col-xs-12 col-md-9 ">
<!--         <div class ="organizer">
          <h2>The organizer</h2>
        </div> -->
        <div class = "row place-row">
          <div class="col-md-4">
              <span class ="fa fa-plane"> The destination:
              </span>
          </div>
          <div class="col-md-8">
            <p class ="place-content">
              <span class="mgc"><%= @destination.name %>  - <%= @destination.description%></span>
            </p>
          </div>
        </div>
        <div class = "row place-row">
          <div class="col-md-4">
            <h5>
              <span class ="fa fa-map-marker"> The expedition: <%= @expedition.title %>
              </span>
            </h5>
          </div>
          <div class="col-md-8">
            <p class ="place-content">
              <span class="mgc"><%= @expedition.description %></span>
            </p>
          </div>
        </div>
        <div class = "row place-row">
          <div class="col-md-4">
            <h5>
              <span class ="fa fa-users"> The number of participants:
              </span>
            </h5>
          </div>
          <div class="col-md-8">
            <p class ="place-content">
              <span class="mgc"><%= @expedition.capacity %></span>
            </p>
          </div>
        </div>



      </div>

      <div class="col-xs-12 col-md-3">
        <div class = "participation">
<!-- La participation du user a été validée -->
          <%# if @expedition.users.include?(current_user) && @expedition.participation.accept == true  %>
<!--             <p class= "bg-success">You're signed up!</p>
            <%# link_to "I want to unsubscribe", participation_path(@current_participation), method: :delete, class: "unsubscribe" %>
          <%# else %>  -->

          <!-- Afficher le formulaire s'il reste de la place -->
            <% if @expedition.participations.count < @expedition.capacity && @current_participation.nil? %>
            <div class = "form">
              <%= simple_form_for([@expedition, @participation]) do |f| %>
              <h5> Next expedition will start on: </h5>
              <h5> <%= @expedition.starts_on %></h5>
              <h5> Spots left: <%= @expedition.capacity - @expedition.participations.count  %></h5>
              <h5> People who signed up: <%= @expedition.participations.count %></h5>
              <%= f.collection_radio_buttons :is_company, [[true, 'Company'] ,[false, 'Individual']], :first, :last%>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.hidden_field :expedition_id, value: @expedition.id %>
              <%= f.submit "Sign me up!", class: "btnparticipation" %>
              <% end %>
            </div>
            <!-- Fin du formulaire -->
            <!-- Afficher une alerte pour dire que le booking est pending -->
            <!-- Si l'expé est full, le signaler -->
            <% elsif @current_participation %>
              <% if  @current_participation.accepted.nil? %>
                <p class="bg-warning" role="alert"> Thank you! Your application is pending.</p>
                <%= link_to "I want to cancel my application", participation_path(@current_participation), method: :delete, class: "unsubscribe" %>
              <% elsif @current_participation.accepted %>
                <p class= "bg-success">You're signed up!</p>
                <%= link_to "I want to unsubscribe", participation_path(@current_participation), method: :delete, class: "unsubscribe" %>
                <!-- show it's accepted -->
              <% elsif !@current_participation.accepted %>
                <!-- show it's declined -->
              <% end %>
            <% else %>
              <h5> This expedition is full! </h5>
            <% end %>
            <!-- Fin du signalement -->
          <%# end %>
        </div>
      </div>
    </div>

<% if @current_participation && @current_participation.accepted %>
    <div class="col-xs-12 col-sm-12">
      <h4 class="text-center">Commentez l'expédition !</h4>
      <div class="card-form">
        <%= simple_form_for [@expedition, @review] do |f| %>
          <%= f.input :content, label: "Commentaire" %>
          <%= f.input :rating, collection: [1, 2, 3, 4, 5], label: "Note" %>
          <%= f.button :submit, input_html: {class: "text-center btn btn-info"} %>
        <% end %>
      </div>
      <div class="card-review col-xs-12 col-sm-12">
        <ul class="show-input">
          <% @expedition.reviews.reverse_each do |review| %>
          <li class="list-unstyled text-center">
            <h5>" <%= review.content %> Rated : <%= review.rating %> / 5 "</h5>
            <!--= link_to "Delete review", review_path(review), method: :delete, class: "btn btn-danger" %-->
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<% else %>
<h4 class="text-center">Participez à l'expédition pour pouvoir la commenter</h4>
<% end %>

 <div class="container">

  <div id="map" style="width: 100%; height: 400px;"></div>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

  <script type="text/javascript">
  var myLatlng = new google.maps.LatLng(37.773972, -122.431297);

  var myOptions = {
    zoom: 9,
    center: myLatlng,
    scrollwheel: false,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    styles: [  {
        "featureType": "water",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#e9e9e9"
            },
            {
                "lightness": 17
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#f5f5f5"
            },
            {
                "lightness": 20
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#ffffff"
            },
            {
                "lightness": 17
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#ffffff"
            },
            {
                "lightness": 29
            },
            {
                "weight": 0.2
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#ffffff"
            },
            {
                "lightness": 18
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#ffffff"
            },
            {
                "lightness": 16
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#f5f5f5"
            },
            {
                "lightness": 21
            }
        ]
    },
    {
        "featureType": "poi.park",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#dedede"
            },
            {
                "lightness": 21
            }
        ]
    },
    {
        "elementType": "labels.text.stroke",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#ffffff"
            },
            {
                "lightness": 16
            }
        ]
    },
    {
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "saturation": 36
            },
            {
                "color": "#333333"
            },
            {
                "lightness": 40
            }
        ]
    },
    {
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#f2f2f2"
            },
            {
                "lightness": 19
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#fefefe"
            },
            {
                "lightness": 20
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#fefefe"
            },
            {
                "lightness": 17
            },
            {
                "weight": 1.2
            }
        ]
    }] // TODO: replace [] by array from https://snazzymaps.com/
  };

  var map = new google.maps.Map(document.getElementById('map'), myOptions);
  var marker = new google.maps.Marker({
    position: myLatlng,
    map: map,
    title: "You are here!"
  });
  </script>

 </div>
